In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\shiva\envs\encryp\lib\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in c:\users\shiva\envs\encryp\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\shiva\envs\encryp\lib\site-packages (from kaggle) (2024.7.4)
Requirement already satisfied: python-dateutil in c:\users\shiva\envs\encryp\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\shiva\envs\encryp\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in c:\users\shiva\envs\encryp\lib\site-packages (from kaggle) (4.66.5)
Requirement already satisfied: python-slugify in c:\users\shiva\envs\encryp\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in c:\users\shiva\envs\encryp\lib\site-packages (from kaggle) (2.2.2)
Requirement already satisfied: bleach in c:\users\shiva\envs\encryp\lib\site-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in c:\users\shiva\envs\encryp\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\shiva\envs\encryp\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\shiva\envs\encryp\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\shiva\envs\encryp\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\shiva\envs\encryp\lib\site-packages (from tqdm->kaggle) (0.4.6)

### Downloading and Extracting the dataset

In [2]:
#downloading the dataset from kaggle via kaggle API

!kaggle datasets download -d hijest/genre-classification-dataset-imdb

Dataset URL: https://www.kaggle.com/datasets/hijest/genre-classification-dataset-imdb
License(s): other
Downloading genre-classification-dataset-imdb.zip to d:\Internships\Encryptix

  0%|          | 0.00/41.7M [00:00<?, ?B/s]
  2%|▏         | 1.00M/41.7M [00:01<01:07, 629kB/s]
  5%|▍         | 2.00M/41.7M [00:02<00:36, 1.13MB/s]
  7%|▋         | 3.00M/41.7M [00:02<00:27, 1.49MB/s]
 10%|▉         | 4.00M/41.7M [00:02<00:21, 1.88MB/s]
 12%|█▏        | 5.00M/41.7M [00:03<00:16, 2.28MB/s]
 14%|█▍        | 6.00M/41.7M [00:03<00:14, 2.55MB/s]
 17%|█▋        | 7.00M/41.7M [00:03<00:13, 2.63MB/s]
 19%|█▉        | 8.00M/41.7M [00:04<00:12, 2.84MB/s]
 22%|██▏       | 9.00M/41.7M [00:04<00:12, 2.81MB/s]
 24%|██▍       | 10.0M/41.7M [00:04<00:11, 2.77MB/s]
 26%|██▋       | 11.0M/41.7M [00:05<00:11, 2.88MB/s]
 29%|██▉       | 12.0M/41.7M [00:05<00:10, 3.00MB/s]
 31%|███       | 13.0M/41.7M [00:05<00:09, 3.25MB/s]
 34%|███▎      | 14.0M/41.7M [00:06<00:08, 3.46MB/s]
 36%|███▌      | 15.0M/41.7M [00:06<00:08, 3.27MB/s]
 38%|███▊      | 16.0M/41.7M [00:06<00:07, 3.60MB/s]
 41%|████      | 17.0M/41.7M [00:07<00:07, 3.34MB/s]
 43%|████▎     | 18.0M/41.7M [00:07<00:07, 3.20MB/s]
 46%|████▌     | 19.0M/41.7M [00:07<00:07, 3.39MB/s]
 48%|████▊     | 20.0M/41.7M [00:07<00:06, 3.49MB/s]
 50%|█████     | 21.0M/41.7M [00:08<00:05, 3.72MB/s]
 53%|█████▎    | 22.0M/41.7M [00:08<00:05, 3.85MB/s]
 55%|█████▌    | 23.0M/41.7M [00:08<00:05, 3.69MB/s]
 58%|█████▊    | 24.0M/41.7M [00:09<00:05, 3.61MB/s]
 60%|█████▉    | 25.0M/41.7M [00:09<00:04, 3.52MB/s]
 62%|██████▏   | 26.0M/41.7M [00:09<00:04, 3.65MB/s]
 65%|██████▍   | 27.0M/41.7M [00:09<00:04, 3.40MB/s]
 67%|██████▋   | 28.0M/41.7M [00:10<00:04, 3.44MB/s]
 70%|██████▉   | 29.0M/41.7M [00:10<00:03, 3.77MB/s]
 72%|███████▏  | 30.0M/41.7M [00:10<00:02, 4.14MB/s]
 74%|███████▍  | 31.0M/41.7M [00:10<00:02, 4.20MB/s]
 77%|███████▋  | 32.0M/41.7M [00:11<00:02, 3.92MB/s]
 79%|███████▉  | 33.0M/41.7M [00:11<00:02, 3.91MB/s]
 82%|████████▏ | 34.0M/41.7M [00:11<00:01, 4.12MB/s]
 84%|████████▍ | 35.0M/41.7M [00:11<00:01, 4.56MB/s]
 86%|████████▋ | 36.0M/41.7M [00:12<00:01, 4.93MB/s]
 89%|████████▊ | 37.0M/41.7M [00:12<00:01, 4.69MB/s]
 91%|█████████ | 38.0M/41.7M [00:12<00:00, 4.57MB/s]
 94%|█████████▎| 39.0M/41.7M [00:12<00:00, 4.41MB/s]
 96%|█████████▌| 40.0M/41.7M [00:13<00:00, 4.60MB/s]
 98%|█████████▊| 41.0M/41.7M [00:13<00:00, 4.60MB/s]
100%|██████████| 41.7M/41.7M [00:13<00:00, 4.45MB/s]
100%|██████████| 41.7M/41.7M [00:13<00:00, 3.26MB/s]

In [4]:
#Extracting the zipfile

from zipfile import ZipFile

dataset = 'genre-classification-dataset-imdb.zip'

with ZipFile(dataset, "r") as zip:
    zip.extractall()
    print("Dataset Extracted Successfully")

Dataset Extracted Successfully

### Reading Dataset

In [6]:
#importing the necessary libraries
import pandas as pd

#### Loading train data

In [26]:
#training data path
train_data_path = "Genre Classification Dataset/train_data.txt"

#Converting the dataset into csv file
train_data = pd.read_csv(train_data_path, sep = " ::: ", names = ['ID', 'TITLE', 'GENRE', 'DESCRIPTION'], engine = 'python') #using 'engine = python' to avoid warning

In [27]:
#Checking top 10 rows
train_data.head(10)

,ID,TITLE,GENRE,DESCRIPTION
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his doc...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous re...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fiel...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends meet...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-rec...
5,6,Quality Control (2011),documentary,Quality Control consists of a series of 16mm s...
6,7,"""Pink Slip"" (2009)",comedy,In tough economic times Max and Joey have all ...
7,8,One Step Away (1985),crime,Ron Petrie (Keanu Reeves) is a troubled teen w...
8,9,"""Desperate Hours"" (2016)",reality-tv,"A sudden calamitous event, causing great loss ..."
9,10,Spirits (2014/I),horror,Four high school students embark on a terrifyi...

In [28]:
#Checking the last 10 rows
train_data.tail(10)

,ID,TITLE,GENRE,DESCRIPTION
54204,54205,Pogrindis.NET (2013),short,Young looser filmmaker tries to produce a film...
54205,54206,Counting Sheep (2004),documentary,Bighorn sheep once roamed the Sierra Nevada in...
54206,54207,The Devin Townsend Project: By a Thread - Live...,music,"In November 2011, The Devin Townsend Project p..."
54207,54208,Kaçamak (1988),drama,A man and woman meet during the identification...
54208,54209,Izpiti po nikoe vreme (1974),family,"First story, ""Temptation"": Two kids find a wal..."
54209,54210,"""Bonino"" (1953)",comedy,This short-lived NBC live sitcom centered on B...
54210,54211,Dead Girls Don't Cry (????),horror,The NEXT Generation of EXPLOITATION. The siste...
54211,54212,Ronald Goedemondt: Ze bestaan echt (2008),documentary,"Ze bestaan echt, is a stand-up comedy about gr..."
54212,54213,Make Your Own Bed (1944),comedy,Walter and Vivian live in the country and have...
54213,54214,Nature's Fury: Storm of the Century (2006),history,"On Labor Day Weekend, 1935, the most intense h..."

In [29]:
#Checking random rows from the dataset
train_data.sample(10)

,ID,TITLE,GENRE,DESCRIPTION
10272,10273,Im Schloß der blutigen Begierde (1968),horror,"In an ancient castle, a mad scientist is tryin..."
43994,43995,L'homme qui cherche la vérité (1940),comedy,"Jean Vernet, an unselfish banker, feels fine :..."
6720,6721,Écrivain d'O (2004),documentary,"Published in Paris in 1954, The Story of O was..."
2657,2658,Khid thueng withaya (2014),drama,"It follows the story of two lonely teachers, a..."
25102,25103,The Script: Homecoming (2011),music,The first ever live concert DVD by the Script ...
6082,6083,Facetten (2007),drama,Claudia is a young actress. Finally she has be...
38320,38321,Elish's notebooks (2017),documentary,82-year-old Elisheva Rise passed away. After h...
2799,2800,Out from Ali's Shadow: The Larry Holmes Story ...,documentary,Larry Holmes is undeniably one of the greatest...
37939,37940,Secrets & Lies (1999),adult,She's a beautiful coed...with a not-so-beautif...
37533,37534,The Art of Cinematography at Plus Camerimage (...,documentary,This 25 min. film is about the art of cinemato...

In [30]:
#Checking the shape of the dataset
train_data.shape

(54214, 4)

In [31]:
#describing the dataset
train_data[['TITLE', 'GENRE', 'DESCRIPTION']].describe()

,TITLE,GENRE,DESCRIPTION
count,54214,54214,54214
unique,54214,27,54086
top,Nature's Fury: Storm of the Century (2006),drama,Grammy - music award of the American academy o...
freq,1,13613,12

Note: Describing the id column wont be of any use

In [32]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54214 entries, 0 to 54213
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           54214 non-null  int64
 1   TITLE        54214 non-null  object
 2   GENRE        54214 non-null  object
 3   DESCRIPTION  54214 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.7+ MB

Only ID column has 'int' datatype

In [33]:
#Checking for null values throughout the dataset
train_data.isnull().sum()

ID             0
TITLE          0
GENRE          0
DESCRIPTION    0
dtype: int64

Great! No null values

#### Loading the test dataset

In [34]:
#test dataset path
test_data_path = "Genre Classification Dataset/test_data.txt"

#Reading the test data using pandas

test_data = pd.read_csv(test_data_path, sep = " ::: ", names = ['ID', 'TITLE', 'DESCRIPTION'], engine = 'python') #Using 'engine = python' to avoid warning

In [35]:
#Checking top 10 rows
test_data.head(10)

,ID,TITLE,DESCRIPTION
0,1,Edgar's Lunch (1998),"L.R. Brane loves his life - his car, his apart..."
1,2,La guerra de papá (1977),"Spain, March 1964: Quico is a very naughty chi..."
2,3,Off the Beaten Track (2010),One year in the life of Albin and his family o...
3,4,Meu Amigo Hindu (2015),"His father has died, he hasn't spoken with his..."
4,5,Er nu zhai (1955),Before he was known internationally as a marti...
5,6,Riddle Room (2016),Emily Burns is being held captive in a room wi...
6,7,L'amica (1969),The beautiful but neglected wife of a brillian...
7,8,Ina Mina Dika (1989),Vasu Inamdar (Ina) suffers from a disorder whe...
8,9,Equinox Special: Britain's Tornados (2005),An insight into the tornados that hit Kensal R...
9,10,Press (2011),Press is a story of young people overwhelmed b...

In [36]:
#Checking last 10 rows
test_data.tail(10)

,ID,TITLE,DESCRIPTION
54190,54191,"""House Invaders"" (1998)",House Invaders features a different home each ...
54191,54192,Eduardo Ducay. El cine que siempre estuvo ahí ...,Visual documentary about the figure of produce...
54192,54193,Dinosaurs Decoded (2009),National Geographic reviews Jack Horner's rese...
54193,54194,The World of Art Presents: Drawing for Anyone ...,Jump right in to drawing animals along with Ch...
54194,54195,Slender Existence (2000),Slender Existence is the first-ever personal f...
54195,54196,"""Tales of Light & Dark"" (2013)","Covering multiple genres, Tales of Light & Dar..."
54196,54197,Der letzte Mohikaner (1965),As Alice and Cora Munro attempt to find their ...
54197,54198,Oliver Twink (2007),"A movie 169 years in the making. Oliver Twist,..."
54198,54199,Slipstream (1973),"Popular, but mysterious rock D.J Mike Mallard ..."
54199,54200,Curitiba Zero Grau (2010),"Curitiba is a city in movement, with rhythms a..."

In [37]:
#Checking 10 random rows
test_data.sample(10)

,ID,TITLE,DESCRIPTION
10260,10261,Merry Christmas: You're Bound and Gagged (2008),Eight topless or naked ladies struggle indigna...
24681,24682,Our Wildest Moments (????),"Our Wildest Moments, is a contemporary romanti..."
49308,49309,La grande lessive (!),Sickened to see his students always sleeping i...
50489,50490,The Tenth Case (1917),"The Peyton family consists of Claudia, an only..."
48289,48290,Who Wants to Be a Princess? (2001),Several dozen visually pleasing and emotionall...
46044,46045,"""A Series of ONE"" (2015)",The Escapee presents a woman on the verge of a...
23632,23633,"""Bushwhacked"" (2006)","Meet Justin Cave and Christine Pullara, the Bu..."
33336,33337,Dead Squad (2017),Seven friends stumble upon an abandoned milita...
11251,11252,The Broken Mask (1928),"Pertio, an Argentine dancer, has a severely sc..."
43109,43110,Thudongkawat (2016),Nob leads a happy life in a small town with hi...